.navbar-icon {
  display: inline-block;
  position: relative;
}

.nav-btn {
  background-color: #5c1dee00;
  border: none;

}

.dropdown-options {
  display: none;
  position: absolute;
  right: 0;
  overflow: auto;
  border-radius: 5px;
  background: rgba(238, 238, 238, 0.364);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15.5px );
  -webkit-backdrop-filter: blur( 15.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar-icon:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  left: 50px;
  color: #000000;
  padding-top: 10px;
  padding: 5px;
  text-decoration: none;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius: 5px;
}



.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu span {
  transition: all .3s;
}

.menu li {
  padding-left: .5em;
  width: 115px;
  height: 45px;
  
}

.menu a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: .4s;
  border-bottom: 1px solid transparent;
}

.menu a:hover {
  border-color: var(--primary-color);
}

a > .fa-solid {
  padding-right: .5em;
}

.social-contacts {
  display: flex;
  width: 50px;
  justify-content: space-around;
}

@media (width < 980px) {

  a > .fa-solid {
    font-size: 18px;
    padding-right: unset;
  }
  
    .menu li {
      padding-left: unset;
      width: 50px;
    }
    
  
    .menu span {
      visibility: collapse;
      opacity: 0;
      text-align: center;
    }
  }

