.logo {
  width: 90%;
}

.typing {
  margin-right: auto;
}


.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu span {
  transition: all .3s;
}

.menu li {
  padding-left: .5em;
  width: 115px;
  height: 45px;
  
}

.menu a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: .4s;
  border-bottom: 1px solid transparent;
}

.menu a:hover {
  border-color: var(--primary-color);
}

a > .fa-solid {
  padding-right: .5em;
}

.social-contacts {
  display: flex;
  width: 50px;
  justify-content: space-around;
}

@media (width < 980px) {

  a > .fa-solid {
    font-size: 18px;
    padding-right: unset;
  }
  
    .menu li {
      padding-left: unset;
      width: 50px;
    }
    
  
    .menu span {
      visibility: collapse;
      opacity: 0;
      text-align: center;
    }


    .footer-bar {
      border-top: 1px solid #55a5ff;
      position: fixed;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      z-index: 1;
      background-color: rgb(0, 0, 0);
      width: 100%;
      height: 50px;
      transition: all 2s;
  }

  .foot-links {
      display: flex;
      width: 100%;
      transition: ease-out 1s;
 }

  .foot-links li {
      list-style: none;
      padding: .6em 1rem;
      text-align: center;
      transition: ease .4s;
      width: 100%;

  }

  .foot-links > li > a > span {
      opacity: 0;
      visibility: collapse;
  }

  .foot-links li:hover {
      background-color: #55a5ff;
      color: inherit;
  }

  .foot-links i {
      position: relative;
      font-size: 25px;
      
  }

  .social-contacts {
    width: 100px;
    font-size: 24px;
    justify-content: space-around;
  }

  }

