.home {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg_portfolio.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -40px 40px #000;
}


.profile {
  display: flex;
  align-items: center;
  gap: 45px;
  transition: all .5s;
  width: 100%;
  margin-top: 20%;
}

.profile-intern-container {
  margin: 0 auto;
}

.profile__name {
  font-size: 5rem;
  color: var(--primary-color);
  font-family: 'Titillium Web', sans-serif;
}

.profile__text {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
