.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg_portfolio.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -40px 40px #000;
}


.profile {
  display: flex;
  align-items: center;
  gap: 45px;
  transition: all .5s;
  border: 1px solid red;
  width: 100%;
  margin-top: 25;
}

.profile-intern-container {
  margin: 0 auto;

}

.profile__text {
  font-size: 1.5rem;
}

.profile__name {
  font-size: 4rem;
  color: var(--primary-color);
}
