.projetos {
  padding-top: 20%;
  width: 100%;
  min-height: 190%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.card-container {
  max-width: 1200px;
  min-height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* gap: 48px; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card {
  text-align: justify;
  position: relative;
  display: block;
  overflow: hidden;
  width: 320px;
  height: 450px;
  word-break:keep-all;
  border: 1px solid hsla(0, 88%, 64%, 0.342);
  background-color: var(--background-layer);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.card:hover {
  box-shadow:0px 0px 5px 2px var(--primary-color);
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
}


.card h2 {
  padding: .5rem .2rem .5rem .5rem;
  font-family: 'Titillium Web', sans-serif;
  background: rgb(37,37,37);
  background: -moz-linear-gradient(270deg, rgba(37,37,37,0.6699054621848739) 0%, rgba(182,12,63,1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(37,37,37,0.6699054621848739) 0%, rgba(182,12,63,1) 100%);
  background: linear-gradient(270deg, rgba(37,37,37,0.6699054621848739) 0%, rgba(182,12,63,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252525",endColorstr="#b60c3f",GradientType=1);
}

.card h3 {
  padding: .5rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro';
  letter-spacing: 1px;
}

.description-container {
  height: 38%;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: .5rem 0;
}

.links-container {
  border-top: 1px solid hsla(0, 88%, 64%, 0.342);
  display: flex;
  justify-content: space-around;
  padding-bottom: .5rem;
  height: 40px;
}

.links-container a {
  padding-top: .5rem;
  text-align: center;
  transition: .5s;
}

.links-container a:hover {
  color: var(--primary-color);
  transition: .5s;
}

.projectSwiper {
  width: 1200px;
}

.fixed-height {
  height: 600px;
}

.swiper-slide-project {
 width: 450px;
}

@media (max-width: 465px) {

  .projetos {
    min-height: 115%;
    margin-top: 100%;
    padding-top: unset;
    height: 3000px;
  }

  .description-container {
    height: 37%;
  }

  .card-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .card {
    min-height: 480px;
  }

}
