:root {
  --primary-color: #b60c3f;
  --icon-color: #252525;
  --secondary-color: hsla(232, 100%, 60%, 0.526);
  --background-layer: #0F1118;
}

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--icon-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
}

body {
  display: grid;
  grid-template-areas: 'content';
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: #000;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  grid-area: content;
  z-index: 777;
  width: 100%;
  height: 40px;
  place-self: start center;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  top: 0;
  /* Position the navbar at the top of the page */
  position: fixed;
  /* Set the navbar to fixed position */
  background-color: rgb(0, 0, 0, 0.65);
  transition: all 1s;
}


section {
  height: 100vh;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #0005;
  grid-area: content;
  place-self: end center;
  display: grid;
  place-content: center;
  border-top: 2px solid white;
  font-size: 0.75rem;
  font-style: italic;
}



@media (width > 465px) {
  .footer-bar {
    visibility: collapse;
    display: none;
  }

  .onHeader {
    visibility: collapse;
  }

  .button-component {
    visibility: hidden;
  }
}